

div.olControlZoomPanel {
    height: 108px
    width: 36px;
    position: absolute;
    top: 20px;
    left: 20px;
}
div.olControlZoomPanel div {
    width: 36px;
    height: 36px;
    background-image: url(img/mobile-zoombar.png);
    left: 0;
}
div.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0;
    background-position: 0 0;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 36px;
    background-position: 0 -36px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 72px;
    background-position: 0 -72px;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#map {
    position: relative;
    width: 100%;
    height: 100%;
}
.olControlAttribution {
    font-size: 10px;
    bottom: 5px;
    right: 5px;
}
div.olControlZoomPanel .olControlZoomInItemInactive,
div.olControlZoomPanel .olControlZoomOutItemInactive {
    background: rgba(0,0,0,0.2);
    position: absolute;
}
div.olControlZoomPanel .olControlZoomInItemInactive {
    border-radius: 5px 5px 0 0;
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
    border-radius: 0 0 5px 5px ;
    top: 37px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive:after,
div.olControlZoomPanel .olControlZoomInItemInactive:after {
    font-weight: bold;
    content: '+';
    font-size: 36px;
    padding:  7px;
    z-index: 2000;
    color: #fff;
    line-height: 1em;
}
div.olControlZoomPanel .olControlZoomOutItemInactive:after {
    content: '–';
    line-height: 0.9em;
    padding: 0 8px;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
     display: none;
}
.olControlEditingToolbar .olControlModifyFeatureItemInactive {
     background-position: -1px -1px;
}
.olControlEditingToolbar .olControlModifyFeatureItemActive {
     background-position: -1px -24px;
}
#title, #tags, #shortdesc {
     display: none;
}
.myControl  {
     width:100%;
     height: 10%;
     margin:0 auto;
	 display:none;
	 background: rgba(194,197,58,1);
}
#undo, #setgeo, #watch, #finishgps {
     width: 20%;
     height:10%;
     text-align:center;
	 float:left;
}